
@model IEnumerable<ControleAlunos.Web.Models.Aluno>
@using GridMvc.Html
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Alunos desta cidade</h2>

@Html.Grid(Model).Columns(columns =>
{
columns.Add(foo => foo.nome).Titled("Nome").Sortable(true).Filterable(true).SetWidth(400);
columns.Add(foo => foo.cpf).Titled("CPF").Sortable(true).Filterable(true);
columns.Add(foo => foo.sexo).Titled("Sexo").Sortable(true);
columns.Add(foo => foo.telefone).Titled("Telefone").Sortable(true);
columns.Add(foo => foo.dataNascimento).Titled("Data Nascimento").Format("{0:dd/mm/yyyy}").Sortable(true).Filterable(true).SetWidth(100);
columns.Add(foo => foo.dataCadastro).Titled("Data Cadastro").Format("{0:dd/mm/yyyy}").Sortable(true).Filterable(true).SetWidth(100);
}).WithPaging(10)

@Html.ActionLink("Voltar para cidades", "Index")

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/gridmvc.min.js")" type="text/javascript"> </script>
<script src="~/Scripts/bootstrap.min.js"></script>